VSCodeExtension/hellowd/node_modules
VSCodeExtension/hellowd/.vscode-test/
VSCodeExtension/hellowd/*.vsix

CommonRust/rust_study/target
CommonRust/rust_study/Cargo.lock

CommonJava/target
CommonJava/.classpath
CommonJava/.factorypath
CommonJava/.settings

.vscode/*


CommonJava/.settings/org.eclipse.jdt.apt.core.prefs
CommonJava/.factorypath
CommonJava/ttt.db
CommonGolang/src/app/excel2db/v2/dbtool.go
